PORT=5000
# MONGO_URI=mongodb://localhost:27017/student-encrypted-db
# MONGO_URI=mongodb+srv://prikansi:Priks%402000@cluster0.m1erevu.mongodb.net/?appName=Cluster0

MONGO_URI=mongodb://localhost:27017/student-encrypted-db